@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme default {
  --animate-fly-away: fly-away 2s ease-in-out forwards;
}

@keyframes fly-away {
  0% {
    opacity: 1;
    transform: translate(0, 0) scale(1)
  }
  100% {
    opacity: 0;
    transform: translateY(100px, -100px) scale(0.5);
  }
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
